DATABASE_URL="....."
NEXTAUTH_SECRET="....."
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="....."
NEXTAUTH_URL="http://localhost:3000"
MIDTRANS_SERVER_KEY=Mid-server-...
MIDTRANS_CLIENT_KEY=Mid-client-...
MIDTRANS_MERCHANT_ID=...
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_BASE_URL=https://api.sandbox.midtrans.com